body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  border: 2px solid red;
}



#root {
  background-color: #4369b2;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.navigator {
  color: white;
  border: #35548b;
}



.main-land {
  background-color: #5586e2;
  height: 33vh;
}

.main-land h2 {
  font-weight: 700;
  font-size: 3em;
}

.main-land p {
  font-size: 2em;
}

.mid-section {
  background-color: #35548b;
}

.con-sec a img {
  width: 8em;
}

.con-sec .odd-sec a,
.con-sec .even-sec a {
  position: relative;
  text-decoration: none;
  color: white;
  display: block;
}

.con-sec .odd-sec i,
.con-sec .even-sec i {
  position: absolute;
  top: 0;
  right: 0;
}

.con-sec .odd-sec,
.listing .odd-sec {
  color: white;
  background-color: #4369b0;
  border-color: #4369b0;
}

.con-sec .even-sec,
.listing .even-sec {
  color: white;
  background-color: #3f62a4;
  border-color: #3f62a4;
}

.con-sec .odd-sec,
.con-sec .even-sec {
  color: white;
  
}

#tops {
  background: transparent;
  cursor: pointer;
  color: white;
}
